{% extends 'base.html' %}
<!-- css link in static folder -->
<!-- {% block styles %} {{ super() }}
<link rel="stylesheet" href="{{url_for('static', filename = 'css/index.css')}}">
{% endblock %} -->
<!-- content block -->
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-2">

      <ul>
        <h3>CAtegories</h3> {% for category in categories %}
        <li>{{ category}}</li>
        {% endfor %}
      </ul>

    </div>
    <div class="col-md-10">
      <!-- <span><button class="btn" name="button">Start Pitching</button></span> -->
      <a class="btn btn-info" href="/new-pitch">Start Pitching</a>
      <h3>Latest</h3> {% for pitch in pitches %}

      <div class="">
        <div class="">
          <p><strong>{{pitch.header}}</strong></p>
          <p>{{pitch.body}}</p>

        </div>
        <table style="width:100%">
          <tr>
            <th>category: pickup</th>
            <th>author: toel</th>
            <th>reviews:10</th>
            <th></th>

          </tr>
        </table>
      </div>
      {% endfor %}

    </div>
  </div>
</div>
{% endblock %}
