<body>
  <nav class="navbar navbar-inverse">
    <div class="container">
      <ul class="nav navbar-nav">
        <!-- <li>pitch idea</li> -->
        <li><a href="">Pitch idea</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <!-- <li>pitch idea</li> -->
        <li><a href="">sign out</a></li>
      </ul>

    </div>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <ul>
          <h3>CAtegories</h3>
          <li>pickup lines</li>
          <li>interview pitch</li>
          <li>product pitch</li>
          <li>promotion pitch</li>
        </ul>

      </div>
      <div class="col-md-10">
        <h3>Latest</h3>
        <div class="">
          <div class="">
            <p><strong>how to pick up girls</strong></p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
              irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

          </div>
          <table style="width:100%">
            <tr>
              <th>category: pickup</th>
              <th>author: toel</th>
              <th>reviews:10</th>
              <th></th>

            </tr>
          </table>
        </div>
        <div class="">
          <div class="">
            <p><strong>how to pick up girls</strong></p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
              irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

          </div>
          <table style="width:100%">
            <tr>
              <th>category: pickup</th>
              <th>author: toel</th>
              <th>reviews:10</th>
              <th></th>

            </tr>
          </table>
        </div>
        <div class="">
          <div class="">
            <p><strong>how to pick up girls</strong></p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
              irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

          </div>
          <table style="width:100%">
            <tr>
              <th>category: pickup</th>
              <th>author: toel</th>
              <th>reviews:10</th>
              <th></th>

            </tr>
          </table>
        </div>
        <div class="">
          <div class="">
            <p><strong>how to pick up girls</strong></p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
              irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

          </div>
          <table style="width:100%">
            <tr>
              <th>category: pickup</th>
              <th>author: toel</th>
              <th>reviews:10</th>
              <th></th>

            </tr>
          </table>
        </div>

      </div>
    </div>
  </div>

</body>
