{% extends 'base.html' %} {% block content %}


<div class="container">
  <div class="">
    <h2>{{pitch.header}}</h2>
    <p>{{pitch.body}}</p>
    <table style="width:100%">
      <tr>
        <th>category: {{pitch.category}}</th>
        <th>author: {{pitch.user.username}}</th>
        <th></th>
        <th><a href="/comment/{{pitch.id}}">new comment</a></th>

      </tr>
    </table>
  </div>
</div>
<div class="container">
  <h2>Comments</h2> {% for comment in comments %}
  <div class="">
    <p>{{comment.body}}</p>

  </div>
  <table style="width:100%">
    <tr>
      <th>{{comment.commentz.username}}</th>
      <!-- <th>category: pickup</th> -->
      <th>{{comment.time}}</th>
      <th>vote:<button type="button" class="btn btn-default">
  <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
</button></th>

    </tr>
  </table>
  {% endfor %}

</div>

{% endblock %}
